{% extends 'base.html' %}
{% load static %}
{% block title %} Войти {% endblock %}
{% block content %}
{% if error %}

<div class="bg-warning col-sm-4 offset-4 w-25">
  {{ error }}
</div>
{% endif %}

<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'main_page2' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adv-post' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'prof' %}">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %} ">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'reg' %}">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'log' %}">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
  {% endif %}
</ul>

<div class="container">
  <div class="row">
    <div class="col-8" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница авторизации пользователя</span>
      </div>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col">
        <label class="col-sm-4 col-form-label offset-4">Username</label>
        <div class="col-sm-4 offset-4 w-25">
          <input type="text" class="form-control form-control-lg" name="username"> <!-- Добавлен атрибут name -->
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="col-sm-4 col-form-label offset-4">Password</label>
        <div class="col-sm-4 offset-4 w-25">
          <input type="password" class="form-control form-control-lg" name="password"> <!-- Добавлен атрибут name -->
        </div>
      </div>
    </div>

    <div class="row mb-3 offset-sm-5">
      <div class="col">
        <button type="submit" class="btn btn-success">Принять</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}